scroll" href="#experience">Experience</a></li>
                        <li><a class="page-scroll" href="#portfolio">Work</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Section: Introduction -->
        <section id="intro" class="intro text-center">
            <div class="overlay">
                <div class="intro-content">
                    <h1 class="animated fadeInDown delay-05s">Hi, I'm Your Name</strong>
                    </h1>
                    <p class="subtitle animated fadeInUp delay-05s">What do you do?</p>
                    <a class="fa fa-angle-down page-scroll" href="#about"></a>
                </div>
            </div>
        </section>
        <!-- Section: About -->
        <section id="about" class="text-center">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 wp1">
                            <h2>A Little Bit About Me</h2>
                            <img src="img/headshot1-square4.jpg" id="prof-pic" />
                            <p>
                                Hey! My name is Brittany and I'm a web developer with a passion for front end development and design. I'm currently a first year student at
                                <a href="http://www.northeastern.edu/" target="_blank">Northeastern University</a> pursuing a degree in <a href="http://www.ccs.neu.edu/undergraduate/degree-programs/information-science-bachelor-of-science/" target="_blank">information science</a> with a minor in interaction design. I aspire toward a career that will allow me to channel my creativity through crafting beautiful software and engaging experiences.
                                <br>
                                <br> When I'm not on the computer, I enjoy snowboarding, swimming, and petting dogs.
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div id="tl-dr">
                            <h3>TL;DR?&nbsp;&nbsp;Self Proclamations:</h3>
                            <!-- <h4>Self Proclamations:</h4> -->
                            <div class="tldr-proc">
                                <div class="tldr-icon" id="tldr-keyboard"><i class="fa fa-keyboard-o"></i></div>
                                <h5>Web Developer</h5>
                            </div>
                            <div class="tldr-proc">
                                <div class="tldr-icon"><i class="fa fa-pencil"></i></div>
                                <h5>UX Enthusiast</h5>
                            </div>
                            <div class="tldr-proc">
                                <div class="tldr-icon"><i class="fa fa-tree"></i></div>
                                <h5>Snowboarder</h5>
                            </div>
                            <div </div>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- /Section: About -->
        <!-- Section: Services (Passions) -->
        <section id="services" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What I Do</h2>
                        <div class="spacer-10"></div>
                        <div class="col-md-4 wp2">
                            <div class="icon"><i class="fa fa-laptop"></i></div>
                            <h3>Design</h3>
                            <p>Design isn't just what a product looks like and feels like on the outside. Design encompasses the internal functionality of a product as well as the overall user experience. I strive to design interfaces and experiences that people can enjoy on all digital mediums.
                            </p>
                        </div>
                        <div class="col-md-4 wp2 delay-025s">
                            <div class="icon"><i class="fa fa-code"></i></div>
                            <h3>Development</h3>
                            <p>With a strong foundation in computer science, I'm passionate about web design and development, and interested in mobile app development. As I grow as a developer, I hope to write clean, readable code that can be used by others and leveraged to create beautiful software.</p>
                        </div>
                        <div class="col-md-4 wp2 delay-05s">
                            <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
                            <h3>Involvement</h3>
                            <p>At Northeastern, I'm currently the web chair for <a href="http://nuwit.ccs.neu.edu" target="_blank">nuWiT</a> (NU Women in Tech) as well as a Teaching Assistant for the undergrad HCI course. Previously, I've been involved with the club water polo team, the resident student association, and the ski and snowboard club.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Experience -->
        <section id="experience">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-10 col-md-offset-1 text-center wp3">
                            <h2>Experience</h2>
                            <p>I've been doing web development for about 3 years now, and I'm always eager to learn more in this fast paced industry.</p>
                        </div>
                        <!-- <div class="col-md-8 col-xs-8 skills">
                            <ul class="skills-bar-container">
                                <label>HTML5</label>
                                <span class="percent" id="html-percent"></span>
                                <li>
                                    <span class="progressbar progressred wp3-1" id="progress-1"></span>
                                </li>
                                <label>CSS3 / Sass</label>
                                <span class="percent" id="css-percent"></span>
                                <li>
                                    <span class="progressbar progressblue wp3-2" id="progress-2"></span>
                                </li>
                                <label>Javascript / jQuery</label>
                                <span class="percent" id="javascript-percent"></span>
                                <li>
                                    <span class="progressbar progresspurple wp3-3" id="progress-3"></span>
                                </li>
                                <label>Java</label>
                                <span class="percent" id="angular-percent"></span>
                                <li>
                                    <span class="progressbar progressgreen wp3-4" id="progress-4"></span>
                                </li>
                                <label>MEAN Stack</label>
                                <span class="percent" id="php-percent"></span>
                                <li>
                                    <span class="progressbar progressorange wp3-5" id="progress-5"></span>
                                </li>
                            </ul>
                        </div> -->
                        <div class="col-sm-offset-1 col-xs-12 col-sm-6 col-md-6 skills-section wp3">
                            <h3>Some technologies I've worked with:</h3>
                            <div class="row">
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/html.png" id="html"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/css.png" id="css"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/sass.png" id="sass"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/js.png" id="js"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/java.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/python.png" id="python"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/jquery.png" id="jquery"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/bootstrap.png" id="bootstrap"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/foundation.png" id="foundation"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/angular.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/node.png" id="node"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/mongodb.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/github.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/photoshop.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/indesign.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/jira.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/linux.png"></div>
                                <div class="col-xs-3 col-sm-2 col-md-2 skill-icon"><img class="img-responsive" src="img/skills/tumblr.png"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 employment wp3">
                            <div class="text-center places-worked">
                                <h3>Where I've Worked:</h3>
                                <!-- <a href="http://www.starry.com/" target="_blank">
                                    <img id="starry-logo" src="img/starry-logo.png" alt="Starry" />
                                </a> -->
                                <a href="http://www.mullenloweus.com/" target="_blank">
                                    <img id="mullen-logo" src="img/mullen-octopus.png" alt="Mullen" />
                                </a>
                                <a href="http://www.ccs.neu.edu/" target="_blank">
                                    <img id="nu-logo" src="img/nu-logo.png" alt="Northeastern" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /col-->
                </div>
                <!-- /row -->
            </div>
            <!-- Container-->
        </section>
        <!-- /Section: Experience -->
        <!-- Section: Resume -->
        <section id="resume">
            <div class="text-center">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Check out my résumé!</h2>
                                <div id="resume-button">
                                    <a class="resume-btn wp4" href="resume2016.pdf" target="_blank">Grab A Copy</a>
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
            </div>
        </section>
        <!-- /Section: Resume -->
        <!-- Section: Portfolio -->
        <section id="portfolio">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I've Done</h2>
                    <h5 class="coming-soon">(more coming soon)</h5>
                </div>
                <div class="row portfolio-row">
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#courseSourceModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/CourseSource.png" alt="image">
                            <div class="portfolio-info">
                                <h3>CourseSource</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#feedbackLoopModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/feedback-loop.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Feedback Loop</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#webdevModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/webdev-home.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Web Dev Homepage</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#fontipsumsModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/fontipsums.png" alt="image">
                            <div class="portfolio-info">
                                <h3>FontIpsums</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#nuwitModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/nuwit.png" alt="image">
                            <div class="portfolio-info">
                                <h3>NU Women in Tech</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#oneCardForAllModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/onecardforall.png" alt="image">
                            <div class="portfolio-info">
                                <h3>One Card For All</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#medMilModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/medmil.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Medicine and the Military</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#humankindaModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/humankinda_tumblr.png" alt="image">
                            <div class="portfolio-info">
                                <h3>JetBlue HumanKinda Tumblr</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#uscModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/USC-iphone6s.png" alt="image">
                            <div class="portfolio-info">
                                <h3>U.S. Cellular</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#lovesacModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/lovesac_tumblr.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Lovesac Roots Tumblr</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5 delay-025s">
                        <div class="portfolio-item" data-toggle="modal" href="#mullen_comModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/mullen_com.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Mullen Lowe U.S. Website</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#bookmarksModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/bookmarks-site.png" alt="image">
                            <div class="portfolio-info">
                                <h3>Personal Bookmarks</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5">
                        <div class="portfolio-item" data-toggle="modal" href="#calendrModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/calendr.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Calendr</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5 delay-025s">
                        <div class="portfolio-item" data-toggle="modal" href="#hciWebsiteModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/hciwebsite.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>HCI Website</h3>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item-wrapper wp5 delay-05s">
                        <div class="portfolio-item" data-toggle="modal" href="#oblivionThemesModal">
                            <div class="portfolio-overlay"></div>
                            <div class="links">
                                <a class="image-link"><i class="fa fa-search-plus"></i></a>
                                <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                            </div>
                            <img src="img/oblivionthemes.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Oblivion Themes</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************** PORTFOLIO MODALS **************************-->
        
        <!-- Feedback Loop MODAL -->
        
        <!-- Web Dev Homepage MODAL -->
        
        <!-- FontIpsums MODAL -->
        
        <!-- nuWiT MODAL -->
        
        <!-- ONE CARD FOR ALL MODAL -->
        
        <!-- MED MIL MODAL -->
        
        <!-- HUMANKINDA MODAL -->
              
        <!-- US CELLULAR MODAL -->
        
        <!-- MULLEN DISPLAYS MODAL -->
        
        <!-- LOVESAC MODAL -->
        
        <!-- MULLEN.COM MODAL -->
                
        <!-- BOOKMARKS MODAL -->
        
        <!-- CALENDR MODAL -->
        
        <!-- HCI WEBSITE MODAL -->
        
        <!-- OBLIVION THEMES MODAL -->
        
        <!-- Section: Contact -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <div class="email-icon"><i class="fa fa-paper-plane-o wp6"></i></div>
                        <h2>Get In Touch!</h2>
                        <p>Whether you have an idea for a project or just want to chat, feel free to shoot me an email!</p>
                        <p style="margin-top:40px;">
                            <a id="email-button" href="mailto:brittany.chiang@gmail.com" target="_blank">Say Hello</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Section: Contact -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <!-- <h3>Other places you can find me</h3> -->
                        <ul class="list-inline social-buttons animated fadeIn">
                            <!-- Facebook Button -->
                            <li><a id="facebook" href="https://www.facebook.com/brittany.chiang" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <!-- Twitter Button -->
                            <li><a id="twitter" href="https://twitter.com/bchiang7" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <!-- Instagram Button -->
                            <li><a id="instagram" href="https://instagram.com/bchiang7/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <!-- Pinterest Button -->
                            <!-- <li><a id="pinterest" href="https://www.pinterest.com/brittanychiang/" target="_blank"><i class="fa fa-pinterest"></i></a></li> -->
                            <!-- Spotify Button -->
                            <li><a id="spotify" href="https://play.spotify.com/user/bchiang7" target="_blank"><i class="fa fa-spotify"></i></a></li>
                            <!-- Codepen Button -->
                            <li><a id="codepen" href="http://codepen.io/bchiang7/" target="_blank"><i class="fa fa-codepen"></i></a></li>
                            <!-- GitHub Button -->
                            <li><a id="github" href="https://github.com/bchiang7" target="_blank"><i class="fa fa-github"></i></a></li>
                            <!-- LinkedIn Button -->
                            <li><a id="linkedin" href="https://www.linkedin.com/in/bchiang7" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <div class="page-scroll">
                            <a id="to-top" class="page-scroll" href="#page-top">
                                <img id="rocket" src="img/rocket12.png" />
                            </a>
                            <p id="to-top-copy">Beam me up, Scotty!</p>
                        </div>
                        <div class="copyright">
                            <!-- please don't steal my stuff without permission -->
                            <p><i class="fa fa-copyright"></i> Brittany Chiang 2016</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container -->
        </footer>
        <!-- Core JavaScript Files -->
        <script src="js/bootstrap.min.js"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <!-- Helpers -->
        <script src="js/scrolling-nav.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/custom.js"></script>
        <script>
        // $(function() {
        //  $(".preload").fadeOut(2000, function() {
        //      $(".everything").fadeIn(1000);
        //  });
        // });
        </script>
        <!-- *********************************************
         _   _              _   _                   _
        | | | | ___ _   _  | |_| |__   ___ _ __ ___| |
        | |_| |/ _ \ | | | | __| '_ \ / _ \ '__/ _ \ |
        |  _  |  __/ |_| | | |_| | | |  __/ | |  __/_|
        |_| |_|\___|\__, |  \__|_| |_|\___|_|  \___(_)
                    |___/

        Lookin' at the source code huh?
        Be sure to drop me a line! I'd love to chat,
        whether it's about code, design, dogs,
        coffee, snowboarding, or anything in between.

        - Brittany

        ********************************************** -->
</body>

</html>
